name: Docker tests

on: [ push, pull_request, workflow_dispatch ]

jobs:
  parallel:
    uses: ./.github/workflows/dockertests.yml
    with:
      command-json-array: >
        [
        "make mariadb_test",
        ]
