name: Docker tests

on: [ pull_request, workflow_dispatch ]

jobs:
  parallel:
    uses: ./.github/workflows/dockertests.yml
    with:
      command-json-array: >
        [
        "make redis_test",
        "make FEATURE=\"rdb_backup\" IMAGE_TYPE=\"rdb\" REDIS_VERSION=\"6.2.4\" redis_features",
        "make REDIS_VERSION=\"7.0.15\" redis_combined_features",
        "make REDIS_VERSION=\"7.2.4\" redis_combined_features",
        ]
